.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;
}
.nav__wrapper {
    min-width: 200px;
    min-height:100vh;
    background-color: #f8f8f8;
    padding:80px 0 0 0;
    list-style: none;
    li {
        display:flex;
        padding:10px 16px 10px;
    &:hover {
        background-color: #eaeaea;
    }
    }
}

.nav__icon {
    border:none;
    background-color: transparent;
    font-size:1.5rem;
}
.nav__menu {
    border-radius: 20px;
    margin: 0 0 0 8px;
    border:none;
    background-color: transparent;
}

@media screen and (max-width: 800px){
    .nav__menu {
        display:none;
    }
    .nav__wrapper {
        min-width:0;
    }
}

@media screen and (max-width: 400px) {
    .nav__wrapper{
        display:none;
    }
}
